.picbox1 {
  border: 1px solid #c8e6c9 ;
  background-color: #e8f5e9;
  padding: 5px;
}
.picbox2 {
  border: 1px solid #bbdefb;
  background-color: #e3f2fd;
  padding: 5px;
}
.picbox3 {
  border: 1px solid #d1c4e9;
  background-color: #ede7f6;
  padding: 5px;
}
.titlebox1 {
  border: 1px solid #a5d6a7;
  background-color: #c8e6c9;
  padding: 5px;
}
.titlebox2 {
  border: 1px solid #90caf9;
  background-color: #bbdefb;
  padding: 5px;
}
.titlebox3 {
  border: 1px solid #b39ddb;
  background-color: #d1c4e9;
  padding: 5px;
}

.sidebar {
  background-color: lightgray;
}

.padding-0 {
  padding-right:0;
  padding-left:0;
}

.paddingleft {
  padding-right:5px;
  padding-left:10px;
}

.paddingright {
  padding-right:10px;
  padding-left:5px;
}

.paddinginside {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.well {
  height: 125px;
}


h3 {
  font-family: serif;
  padding: 0px;
  margin: 0px;
}

hr {
  margin: 0px;
  color: black;
}

/*simple sidebar code
*/

#wrapper {
  padding-left: 50px;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 150px;
  background: pink;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
    }

}
